{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel='stylesheet' type='text/css' href="{% static '\youtubeapp\style.css' %}">
{% endblock customcss %}

{% block header %}
    <nav class="navbar navbar-success bg-success mb-3">
        <a href="{% url 'youtubeapp:index' %}" class="btn btn-success btn-lg"> YouTubeランキング</a>
    </nav>
{% endblock header %}

{% block content %}
    <div class = "container">
        <h2>CRランキング</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <div class="row">
                        <th scope="col">順位</th>
                        <th scope="col" colspan="2">チャンネル名</th>
                        <th scope="col">チャンネル登録者数</th>
                        <th scope="col">ゲームカテゴリー</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for item in youtubedata %}
                    <th scope="row">{{ forloop.counter }}</th>
                        <td width="60px"><img decoding='async' loding='lazy' src="{{ item.thumbnail }}" width="60px" height="60px" alt="画像が読み込めません"></td>
                        <td><a href="{{ item.channel_url }}" class="widelink">{{ item.channel_name }}</a></td>
                        <td>{{ item.registrant_num }}</td>
                        <td>Apex</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}