.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
*{
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 250, 241);
}
.contents {
    background-color: rgb(255,255,255);
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}

span {
    display: inline-block;
    width:6em;
}

.float-right {
    float:  right;               /* 要素を右に回り込ませる */
}